/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  body {
    font-size: 16px;
  }
  .container {
    margin: 0 5% 60px;
  }
  .drop-space {
    margin-bottom: 60px;
  }
  /* ********************************************** */
  /* header start */
  /* ********************************************** */
  .logo {
    width: 90px;
  }
  .links ul {
    gap: 0;
  }
  .links ul li a {
    display: none;
  }
  .links ul li:last-child a {
    display: block;
  }
  /* header end */

  /* ********************************************** */
  /* banner start */
  /* ********************************************** */
  .banner {
    flex-direction: column;
  }
  .banner-content {
    margin-top: 20px;
    width: 100%;
    order: 2;
  }
  .banner-title {
    font-size: 24px;
    line-height: 30px;
  }
  .banner-img {
    order: 1;
    width: 100%;
  }
  /* banner end */

  /* ********************************************** */
  /* plants start */
  /* ********************************************** */
  .section_content {
    padding: 20px 20px 30px;
  }
  .section_title {
    font-size: 24px;
    line-height: 27px;
  }
  .section_items {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .item_details {
    margin: 4px 0;
  }
  .btn {
    padding: 10px 0;
    font-size: 14px;
  }
  /* plants end */

  /* ********************************************** */
  /* flower start */
  /* ********************************************** */
  .flower {
    margin-top: 0;
    padding-top: 10px;
    box-shadow: none;
  }
  .flower_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .flower_img {
    width: 100%;
  }
  .flower_badge {
    display: none;
  }
  .flower_infos {
    padding: 0;
  }
  .flower_infos ul {
    padding: 0 15px;
  }
  .flower_infos ul li {
    margin-bottom: 10px;
  }
  /* flower end */

  /* ********************************************** */
  /* Latest start */
  /* ********************************************** */

  /* latest end */
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 16px;
  }
  .container {
    margin: 0 5% 60px;
  }
  .drop-space {
    margin-bottom: 70px;
  }
  /* ********************************************** */
  /* header start */
  /* ********************************************** */
  .logo {
    width: 90px;
  }
  .links ul li a {
    display: none;
  }
  .links ul li:last-child a {
    display: block;
  }
  /* header end */

  /* ********************************************** */
  /* banner start */
  /* ********************************************** */
  .banner {
    flex-direction: column;
  }
  .banner-content {
    margin-top: 20px;
    width: 100%;
    order: 2;
  }
  .banner-title {
    font-size: 30px;
    line-height: 40px;
  }
  .banner-img {
    order: 1;
    width: 100%;
  }
  /* banner end */

  /* ********************************************** */
  /* plants start */
  /* ********************************************** */
  .section_content {
    padding: 10px 50px 30px;
  }
  .section_title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 27px;
  }
  .section_items {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .item_details {
    margin: 8px 0;
  }
  .btn {
    padding: 15px 0;
  }
  /* plants end */

  /* ********************************************** */
  /* flower start */
  /* ********************************************** */
  .flower {
    margin-top: 0;
    padding-top: 20px;
    box-shadow: none;
  }
  .flower_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .flower_img {
    width: 100%;
  }
  .flower_badge {
    display: none;
  }
  .flower_infos {
    padding: 0;
  }
  .flower_infos ul {
    padding: 0 20px;
  }
  .flower_infos ul li {
    margin-bottom: 10px;
  }
  /* flower end */

  /* ********************************************** */
  /* Latest start */
  /* ********************************************** */

  /* latest end */
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 16px;
  }
  .container {
    margin: 0 5% 80px;
  }
  .drop-space {
    margin-bottom: 80px;
  }
  /* ********************************************** */
  /* header start */
  /* ********************************************** */
  .logo {
    width: 90px;
  }
  .links ul {
    gap: 30px;
  }
  /* header end */

  /* ********************************************** */
  /* banner start */
  /* ********************************************** */
  .banner {
    flex-direction: column;
  }
  .banner-content {
    margin-top: 20px;
    width: 100%;
    order: 2;
  }

  .banner-title {
    font-size: 45px;
    line-height: 55px;
  }
  .banner-img {
    order: 1;
    width: 100%;
  }
  /* banner end */

  /* ********************************************** */
  /* plants start */
  /* ********************************************** */
  .section_content {
    padding: 0 50px 30px;
  }
  .section_title {
    font-size: 35px;
    line-height: 40px;
  }
  .section_items {
    margin: 0 50px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .item_details {
    margin: 8px 0;
  }
  .btn {
    padding: 15px 0;
  }
  /* plants end */

  /* ********************************************** */
  /* flower start */
  /* ********************************************** */
  .flower {
    margin-top: 0;
    padding-top: 50px;
    box-shadow: none;
  }
  .flower_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .flower_img {
    width: 100%;
  }
  .flower_badge {
    display: none;
  }
  .flower_infos {
    padding: 0;
  }
  .flower_infos ul li {
    margin-bottom: 10px;
  }
  /* flower end */

  /* ********************************************** */
  /* Latest start */
  /* ********************************************** */

  /* latest end */
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 16px;
  }
  .container {
    margin: 0 8% 100px;
  }
  .drop-space {
    margin-bottom: 100px;
  }
  /* ********************************************** */
  /* banner start */
  /* ********************************************** */
  .banner-title {
    font-size: 50px;
    line-height: 60px;
  }
  /* banner end */

  /* ********************************************** */
  /* plants start */
  /* ********************************************** */
  .section_content {
    padding: 0 110px 40px;
  }
  .section_title {
    font-size: 40px;
    line-height: 45px;
  }
  .section_items {
    gap: 20px 15px;
  }
  .item_details {
    margin: 8px 0;
  }
  .btn {
    padding: 15px 0;
  }
  /* plants end */

  /* ********************************************** */
  /* flower start */
  /* ********************************************** */
  .flower {
    margin-top: 150px;
    box-shadow: none;
  }
  .flower_badge {
    width: 175px;
    height: 150px;
  }
  .flower_infos {
    margin-left: 20px;
    padding: 0;
  }
  /* flower end */

  /* ********************************************** */
  /* Latest start */
  /* ********************************************** */

  /* latest end */
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
  body {
    font-size: 18px;
  }
  .container {
    margin: 0 8% 100px;
  }
  .drop-space {
    margin-bottom: 120px;
  }
  /* ********************************************** */
  /* banner start */
  /* ********************************************** */
  .banner-title {
    font-size: 60px;
    line-height: 70px;
  }
  /* banner end */

  /* ********************************************** */
  /* flower start */
  /* ********************************************** */
  .flower {
    margin-top: 170px;
  }
  .flower_badge {
    width: 200px;
    height: 200px;
  }
  /* flower end */

  /* ********************************************** */
  /* Latest start */
  /* ********************************************** */

  /* latest end */
}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
  /* ********************************************** */
  /* ********************************************** */
}
