/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  body {
    font-size: 16px;
  }
  .container {
    margin: 0 5% 60px;
  }
  .drop-space {
    margin-bottom: 60px;
  }

  /* ********************************************** */
  /* header start */
  /* ********************************************** */
  .logo {
    width: 100px;
  }
  .links {
    margin-top: 25px;
  }
  .links ul {
    gap: 0;
  }
  .links ul li a {
    display: none;
  }
  .links ul li:last-child a {
    display: block;
  }
  /* header end */

  /* ********************************************** */
  /* banner start */
  /* ********************************************** */
  .banner {
    flex-direction: column;
  }
  .banner-content {
    margin-top: 20px;
    width: 100%;
    order: 2;
  }
  .banner-title {
    font-size: 24px;
    line-height: 30px;
  }
  .banner-img {
    order: 1;
    width: 100%;
  }
  /* banner end */

  /* ********************************************** */
  /* plants start */
  /* ********************************************** */
  .section_content {
    padding: 20px 20px 30px;
  }
  .section_title {
    font-size: 24px;
    line-height: 27px;
  }
  .section_items {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .item_details {
    margin: 4px 0;
  }
  .btn {
    padding: 10px 0;
    font-size: 14px;
  }
  /* plants end */

  /* ********************************************** */
  /* flower start */
  /* ********************************************** */
  .flower {
    margin-top: 0;
    padding-top: 10px;
    box-shadow: none;
  }
  .flower_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .flower_img {
    width: 100%;
  }
  .flower_badge {
    display: none;
  }
  .flower_infos {
    padding: 0;
  }
  .flower_infos ul {
    padding: 0 15px;
  }
  .flower_infos ul li {
    margin-bottom: 10px;
  }
  /* flower end */

  /* ********************************************** */
  /* Latest start */
  /* ********************************************** */
  .latest {
    padding-top: 0;
  }
  .latest_items {
    grid-template-columns: 1fr;
    height: auto;
    gap: 15px;
  }

  .latest_item_2 {
    grid-column: auto;
    grid-row: auto;
    height: 200px;
  }
  .latest_title,
  .latest_title_2 {
    font-size: 20px;
  }
  .shop_btn,
  .shop_btn_2 {
    font-size: 16px;
    margin-top: 5px;
  }
  /* latest end */

  /* ********************************************** */
  /* contact start */
  /* ********************************************** */
  .contact {
    height: 300px;
    gap: 25px;
  }
  .contact_title {
    font-size: 24px;
  }
  .email_input {
    width: 200px;
    padding: 15px;
  }
  .btn_input {
    width: 100px;
    padding: 10px 0;
  }
  /* contact end */

  /* ********************************************** */
  /* footer bottom start */
  /* ********************************************** */
  .footer_bottom {
    margin: 0 5%;
    padding: 50px 0;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .footer_logo {
    margin-bottom: 20px;
  }
  .footer_links a {
    display: block;
    padding: 5px 0;
  }
  .footer_social ul {
    margin-top: 20px;
    padding-top: 0;
    justify-content: start;
  }
  /* footer bottom end */
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 16px;
  }
  .container {
    margin: 0 5% 60px;
  }
  .drop-space {
    margin-bottom: 70px;
  }

  /* ********************************************** */
  /* header start */
  /* ********************************************** */
  .logo {
    width: 120px;
  }
  .links {
    margin-top: 25px;
  }
  .links ul li a {
    display: none;
  }
  .links ul li:last-child a {
    display: block;
  }
  /* header end */

  /* ********************************************** */
  /* banner start */
  /* ********************************************** */
  .banner {
    flex-direction: column;
  }
  .banner-content {
    margin-top: 20px;
    width: 100%;
    order: 2;
  }
  .banner-title {
    font-size: 30px;
    line-height: 40px;
  }
  .banner-img {
    order: 1;
    width: 100%;
  }
  /* banner end */

  /* ********************************************** */
  /* plants start */
  /* ********************************************** */
  .section_content {
    padding: 10px 80px 30px;
  }
  .section_title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 27px;
  }
  .section_items {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .item_details {
    margin: 8px 0;
  }
  .btn {
    padding: 15px 0;
  }
  /* plants end */

  /* ********************************************** */
  /* flower start */
  /* ********************************************** */
  .flower {
    margin-top: 0;
    padding-top: 20px;
    box-shadow: none;
  }
  .flower_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .flower_img {
    width: 100%;
  }
  .flower_badge {
    display: none;
  }
  .flower_infos {
    padding: 0;
  }
  .flower_infos ul {
    padding: 0 20px;
  }
  .flower_infos ul li {
    margin-bottom: 10px;
  }
  /* flower end */

  /* ********************************************** */
  /* Latest start */
  /* ********************************************** */
  .latest {
    padding-top: 20px;
  }
  .latest_items {
    grid-template-columns: 1fr;
    height: auto;
    gap: 15px;
  }

  .latest_item_2 {
    grid-column: auto;
    grid-row: auto;
    height: 250px;
  }
  .latest_title,
  .latest_title_2 {
    font-size: 20px;
  }
  .shop_btn,
  .shop_btn_2 {
    font-size: 16px;
    margin-top: 5px;
  }
  /* latest end */

  /* ********************************************** */
  /* contact start */
  /* ********************************************** */
  .contact {
    height: 300px;
    gap: 25px;
  }
  .contact_title {
    font-size: 24px;
  }
  .email_input {
    width: 280px;
    padding: 15px;
  }
  .btn_input {
    width: 100px;
    padding: 15px 0;
  }
  /* contact end */

  /* ********************************************** */
  /* footer bottom start */
  /* ********************************************** */
  .footer_bottom {
    margin: 0 5%;
    padding: 50px 0;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .footer_logo {
    margin-bottom: 20px;
  }
  .footer_links a {
    display: block;
    padding: 5px 0;
  }
  .footer_social ul {
    margin-top: 20px;
    padding-top: 0;
    justify-content: start;
  }
  /* footer bottom end */
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 16px;
  }
  .container {
    margin: 0 5% 80px;
  }
  .drop-space {
    margin-bottom: 80px;
  }
  /* ********************************************** */
  /* header start */
  /* ********************************************** */
  .logo {
    width: 120px;
  }
  .links ul {
    gap: 30px;
  }
  /* header end */

  /* ********************************************** */
  /* banner start */
  /* ********************************************** */
  .banner {
    flex-direction: column;
  }
  .banner-content {
    margin-top: 20px;
    width: 100%;
    order: 2;
  }

  .banner-title {
    font-size: 45px;
    line-height: 55px;
  }
  .banner-img {
    order: 1;
    width: 100%;
  }
  /* banner end */

  /* ********************************************** */
  /* plants start */
  /* ********************************************** */
  .section_content {
    padding: 0 112px 30px;
  }
  .section_title {
    font-size: 35px;
    line-height: 40px;
  }
  .section_items {
    margin: 0 50px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .item_details {
    margin: 8px 0;
  }
  .btn {
    padding: 15px 0;
  }
  /* plants end */

  /* ********************************************** */
  /* flower start */
  /* ********************************************** */
  .flower {
    margin-top: 0;
    padding-top: 50px;
    box-shadow: none;
  }
  .flower_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .flower_img {
    width: 100%;
  }
  .flower_badge {
    display: none;
  }
  .flower_infos {
    padding: 0;
  }
  .flower_infos ul li {
    margin-bottom: 10px;
  }
  /* flower end */

  /* ********************************************** */
  /* Latest start */
  /* ********************************************** */
  .latest {
    padding-top: 20px;
  }
  .latest_items {
    grid-template-columns: 1fr;
    height: auto;
  }

  .latest_item_2 {
    grid-column: auto;
    grid-row: auto;
    height: 250px;
  }
  .latest_title,
  .latest_title_2 {
    font-size: 25px;
  }
  .shop_btn,
  .shop_btn_2 {
    font-size: 18px;
    margin-top: 10px;
  }
  /* latest end */

  /* ********************************************** */
  /* contact start */
  /* ********************************************** */
  .contact {
    height: 350px;
    gap: 35px;
  }
  .contact_title {
    font-size: 35px;
  }
  .email_input {
    width: 450px;
    padding: 15px;
  }
  .btn_input {
    width: 140px;
  }
  /* contact end */

  /* ********************************************** */
  /* footer bottom start */
  /* ********************************************** */
  .footer_bottom {
    margin: 0 5%;
    padding: 50px 0;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .footer_logo {
    margin-bottom: 20px;
  }
  .footer_links a {
    display: block;
    padding: 5px 0;
  }
  .footer_social ul {
    margin-top: 20px;
    padding-top: 0;
    justify-content: start;
  }
  /* footer bottom end */
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 16px;
  }
  .container {
    margin: 0 8% 100px;
  }
  .drop-space {
    margin-bottom: 100px;
  }
  /* ********************************************** */
  /* banner start */
  /* ********************************************** */
  .banner-title {
    font-size: 50px;
    line-height: 60px;
  }
  /* banner end */

  /* ********************************************** */
  /* plants start */
  /* ********************************************** */
  .section_content {
    padding: 0 110px 40px;
  }
  .section_title {
    font-size: 40px;
    line-height: 45px;
  }
  .section_items {
    gap: 20px 15px;
  }
  .item_details {
    margin: 8px 0;
  }
  .btn {
    padding: 15px 0;
  }
  /* plants end */

  /* ********************************************** */
  /* flower start */
  /* ********************************************** */
  .flower {
    margin-top: 150px;
    box-shadow: none;
  }
  .flower_badge {
    width: 175px;
    height: 175px;
    top: 4%;
  }
  .flower_infos {
    margin-left: 20px;
    padding: 0;
  }

  /* flower end */

  /* ********************************************** */
  /* contact start */
  /* ********************************************** */
  .contact_title {
    font-size: 40px;
  }
  .email_input {
    width: 530px;
    padding: 15px;
  }
  .btn_input {
    width: 160px;
  }
  /* contact end */

  /* ********************************************** */
  /* footer bottom start */
  /* ********************************************** */
  .footer_bottom {
    grid-template-columns: 2fr 1fr 1.5fr 1fr;
    gap: 50px;
  }
  /* footer bottom end */
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
  body {
    font-size: 18px;
  }
  .container {
    margin: 0 8% 100px;
  }
  .drop-space {
    margin-bottom: 120px;
  }

  /* ********************************************** */
  /* banner start */
  /* ********************************************** */
  .banner-title {
    font-size: 60px;
    line-height: 70px;
  }
  /* banner end */

  /* ********************************************** */
  /* flower start */
  /* ********************************************** */
  .flower {
    margin-top: 170px;
  }
  .flower_badge {
    width: 200px;
    height: 200px;
  }
  /* flower end */

  /* ********************************************** */
  /* footer bottom start */
  /* ********************************************** */

  /* footer bottom end */
}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
