:root {
  --primary-color: rgb(233, 90, 8);
  --primary-text: rgb(0, 0, 0, 0.5);
  --secondary-text: rgba(255, 255, 255);
  --primary-bg: rgb(245, 248, 255);
  --secondary-bg: rgb(249, 251, 254);
  --noto: "Noto Serif", serif;
  --int: "Inter", sans-serif;
}
/*common css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--int);
  font-size: 22px;
  font-weight: 400;
  color: var(--primary-text);
  background-color: var(--primary-bg);
}
.container {
  margin: 0 10%;
}
/* header start */
.header {
  padding: 20px 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 135px;
}
.logo img {
  width: 100%;
}
.links ul {
  display: flex;
  gap: 48px;
  list-style: none;
}
.links ul li a {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-text);
  text-decoration: none;
  transition: all 0.3s;
}
.links ul li a:hover {
  color: #252432;
}
/* header end */
